<form method="post" action="{{ path('cj_offres_delete', {'id': cj_offre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cj_offre.id) }}">
    <button class="btn">Delete</button>
</form>
