{% extends 'base.html.twig' %}

{% block title %}Nouvelles Offres{% endblock %}

{% block body %}
    <h1>Ajouter de nouvelles offres</h1>

    {{ include('cj_offres/_form.html.twig') }}

    <a href="{{ path('cj_offres_index') }}">Retourner à la liste</a>
{% endblock %}
