{% extends 'base.html.twig' %}

{% block title %}Nouvelles Offres{% endblock %}

{% block body %}
	<section id="services">
	<header class="section-header">
    	<br><br><br><br>  
          <h3>Ajouter une offre</h3>
      </header>
       <div class="container" >
       	{{ include('cj_offres/_form.html.twig') }}
       </div>    
       
	</section>   
    

   

    
{% endblock %}
