RewriteEngine On
            RewriteCond %{SERVER_PORT} 80
            RewriteCond %{HTTP_HOST} ^(www\.)?cjob.alcalis\.tech
            RewriteRule ^(.*)$ https://www.cjob.alcalis.tech/$1 [R,L]
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteRule ^(.*)$ public/index.php [QSA,L]
            RewriteCond %{HTTP:Authorization} ^(.*)
            RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
            RewriteEngine On