{% extends 'base.html.twig' %}


{% block body %}
{% if is_granted('ROLE_ADMIN') %}
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">username</th>
      <th scope="col">tel</th>
      <th scope="col">smsc</th>
    </tr>
  </thead>
  <tbody>
    {% for abonnes in abonne %}
  <tr>
      <th scope="row"> {{abonnes.id}} </th>
      <td>{{abonnes.username}}</td>
      <td>{{abonnes.tel}}</td>
      <td>{{abonnes.smsc}}</td>
    </tr>
  {% endfor %}
  
  </tbody>
</table>
{% else %}
  <br><br><br><br><br><br>
  <div class="alert alert-danger" role="alert"> Vous n'est pas le bienvenu</div>
{% endif %}


{% endblock %}
