 {% extends 'base.html.twig' %}

{% block title %}Accueil--CJOB!{% endblock %}

{% block body %}

 <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>QUI SÔMMES NOUS ?</h3>
          <p>Le service <b>CJOB</b>  est un produit de la société <a href="http://alcalis.tech"><b>ALCALIS TECHNOLOGIES CI</b> </a> . 
            Il sait donner pour mission principale : <b>LA LUTTE CONTRE LE CHÔMAGE EN CÔTE D’IVOIRE</b>.

            C’est une plate-forme de diffusion d’offres d’<b>emplois </b>et de <b> stages</b> en ligne et par SMS pour les candidats en quête de nouvelles opportunités de carrière et pour les recruteurs à la recherche de nouveaux talents.

           <b> « CJOB »</b> offre à ses abonnés des informations dans tous les domaines d’activités et de tout niveau d’étude…..
          </p>
        </header>
      <header class="section-header">
          <h3>QUELQUES  AVANTAGES …</h3>
        <div class="row about-cols">

          <div class="col-md-3 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="http://www.saint-aubin-de-medoc.fr/IMG/gif/Alerte-sms-web.gif" alt="" class="img-fluid">
                {# <div class="icon"></div> #}
              </div>
              <h2 class="title"><a href="#">ALERTE CJOB</a></h2>
              <p>
                Recevez les dernières offres d’emploi par SMS et soyez parmi les premiers à postuler…
              </p>
            </div>
          </div>

          <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="https://www.altays.com/app/uploads/2015/11/logo_clicnjob2.png" alt="" class="img-fluid">
                {# <div class="icon"><i class="ion-ios-list-outline"></i></div> #}
              </div>
              <h2 class="title"><a href="#">TROUVEZ UN JOB EN UN CLIC</a></h2>
              <p>
                Postulez aux offres d’emploi correspondant à votre profil en un clic…
              </p>
            </div>
          </div>

          <div class="col-md-3 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="https://t3.ftcdn.net/jpg/00/87/92/80/240_F_87928078_rHTrcdxPeMCOdRmw8XXoaIs7YiH4AmIs.jpg" alt="" class="img-fluid">
               {#  <div class="icon"><i class="ion-ios-eye-outline"></i></div> #}
              </div>
              <h2 class="title"><a href="#">DEPOSEZ VOTRE CV</a></h2>
              <p>
                Importer votre cv word, pdf…ou encore créez-en un en quelque minute sur CJOB…
              </p>
            </div>
          </div>
          <div class="col-md-3 wow fadeInUp" data-wow-delay="0.2s">

            <div class="about-col">

              <div class="img">
                <img src="https://goodwilltxla.org/wp-content/uploads/2016/03/services-job-300x300.png" alt="" class="img-fluid">
                {# <div class="icon"><i class="ios-briefcase-outline"></i></div> #}
              </div>
              <h2 class="title"><a href="#">CJOB ASSISTANCE</a></h2>
              <p>
                - Dans l’élaboration de votre CV
                - Actualisation de votre CV
                - Coaching et Aide à l’Emploi & Stage
                - etc.

              </p>
            </div>
          </div>

        </div>
  
      </div>
    </section><!-- #about -->
  {% endblock %}
