 {% extends 'base.html.twig' %}

{% block title %}Accueil--CJOB!{% endblock %}

{% block body %}
 <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contactez nous</h3>
        {#   <p></p> #}
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Adresse</h3>
              <address>Residence le Valerie,Cocody 2 plateaux-vallon,Cote d'Ivoire</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Téléphone</h3>
              <p><a href="tel:+155895548855">+225 89 22 82 01</a></p>
              <p><a href="tel:+155895548855">+225 89 22 43 22</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">alcalis@alcalis.tech</a></p>
            </div>
          </div>

        </div>
         <div class="col-md-12">
             <iframe class="col-md-12" src="https://www.google.com/maps/d/embed?mid=1FfICRDuhYh6oBQAaruB8CNg8kR5aUZRi" width="640" height="480"></iframe>
          </div>
        

      </div>
    </section><!-- #contact -->
  {% endblock %} 